* {
    background-color: #cbd6cb;
}

#main {
    max-width: 1100px;
    margin: 0 auto;
}

.main_img > img {
    width: 100%;
    height: auto;
    max-height: 400px;
    padding-bottom: 20px;
}

.first_col {
    width: 200px;
}

.first_col > img {
    width: 100%;
    height: auto;
}

.sec_col {
    width: 600px;
    text-align: center;
}

.last_col {
    width: 200px;
}

.last_col > img {
    width: 100%;
    height: auto;
}

table {
    width: 100%;
}
